* {
	font-family: "Microsoft YaHei", sans-serif;
}
.actions {
	padding: 6px 12px;
}
#main {
	height: 400px;
	margin-top: 20px;
}

.match{
	font-size: 25px;
	text-align: center;
	vertical-align: middle !important;
}
th{
	vertical-align: middle !important;
	text-align: center;
}

th.big{
	font-size: 30px;
}

/* theme */
.inc1 {
	color: red
}

.inc0 {
	color: green
}

.nexists {
	color: blue
}

.nunexists {
	color: green
}

.nfailed {
	color: black
}