* {
	font-family: "Microsoft YaHei", sans-serif;
}
.actions {
	padding: 6px 12px;
}
#main {
	margin-top: 10px;
}

.match{
	font-size: 25px;
}
.results{
	text-align: left;
}

td, th{
	vertical-align: middle !important;
	text-align: center;
}

th.big-th{
	font-size: 30px;
	font-weight: normal;
}

th p.user-name,
td p.mark-score{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}

th p.user-total,
td p.mark-total {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
}

td p.mark-score {
	font-size: 23px;
}

.red-mark {
	color: #D90000;
}
.green-mark {
	color: #00ac16
}

/* theme */
.inc1 {
	color: red
}

.inc0 {
	color: green
}

.nexists {
	color: blue
}

.nunexists {
	color: green
}

.nfailed {
	color: black
}